@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Roboto+Mono:ital,wght@1,300&display=swap");
body,
body:hover {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.15;
  background: url("https://media.istockphoto.com/id/1321288902/photo/black-grey-wooden-plank-wall-texture-background-old-natural-pattern-of-dark-wood-grained.webp?b=1&s=170667a&w=0&k=20&c=yhXBT7-l23YBvyKGDDGkajz2aMuyxaooJQtyaKnTt_M=")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
}

.container {
  width: 600px;
  height: 500px;
  display: flex;
  margin: 20px auto;
  border: 3px solid white;
  flex-direction: row;
  flex-wrap: wrap;
}

.pixel {
  border: 2px dotted rgb(212, 203, 203);
  flex: auto;
  width: 9%;
}
