@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Roboto+Mono:ital,wght@1,300&display=swap");
body,
body:hover {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.15;
  background: url("https://images.unsplash.com/photo-1510057622795-5c8122c2c665?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: ADLaM Display;
}

.btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
}

.container {
  width: 600px;
  height: 400px;
  display: flex;
  margin: 20px auto;
  border: 4px solid white;
  border-radius: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: rgba(209, 204, 204, 0.35) 0px 5px 15px;
}

.pixel {
  border: 0.25px solid rgb(167, 163, 163);
  flex: auto;
  height: auto;
  width: 1%;
  background-color: black;
  opacity: 1;
}

button {
  font-family: ADLaM Display;
  padding: 8px;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(209, 204, 204, 0.35) 0px 5px 15px;
}
